" keys
set wildignore+=*.pyc,.git

nnoremap <silent> <Leader>t :CommandT ~/src/horizon<CR>

" VirtualENV for python-mode
"let $VIRTUAL_ENV="path/to/virtualenv"

" colorscheme
if has('gui_running') || $TERM=='xterm-256color'
     colorscheme zenburn
endif


" tagbar ctags path
"let g:tagbar_ctags_bin = '/usr/local/bin/ctags'


" guifont
"set guifont=Monaco:h14 "Mac
"set guifont=DejaVu\ Sans\ Mono\ 14 "Linux


" python mode settings
let g:jsmode_lint = 0
let g:jsmode_folding = 0
let g:jsmode_lint_config = "~/.jslint.rc"
let g:syntastic_javascript_jslint_conf="--browser --regexp --es5 --nomen --evil --eqeq --plusplus --continue --forin --bitwise --predef define  --predef require"
let g:syntastic_error_symbol='✗'
let g:syntastic_warning_symbol='⚠'
let g:jsbeautify = {"jslint_happy":"true"}

" omnicomplete
set completeopt="menuone"   " add preview if you want to view docstring of
                            " python functions.
autocmd FileType html setlocal filetype=htmldjango sts=2 ts=2 sw=2
autocmd BufNewFile,BufRead *.less setlocal filetype=less


let g:yankring_history_dir=expand('<sfile>:p:h')

let s:base_list = ['powerline', 'quickrun%3146', 'YankRing', 'sudo', 'Tagbar', 'The_NERD_Commenter', 'FuzzyFinder', 'neocomplcache', 'vimproc', 'Syntastic']
let s:python_list = ['jedi-vim']
let s:go_list = ['github:uggedal/go-vim']
let s:web_list = ['ZenCoding', 'vim-less', 'vim-jsbeautify']
let s:addon_list = s:base_list + s:python_list
call vam#ActivateAddons(addons_list)

" vim:ft=vim
